# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Logs
logs/*.json
logs/*.jsonl
logs/*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Model / cache
.cache/
chromadb/
chroma/
hf_cache/
sentence_transformers/

# Jupyter
.ipynb_checkpoints/

# Editor
.vscode/
.idea/